/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* @media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
} */

/* @media (min-width: 45em) {
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2.5rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
} */


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


main {
    background-color: #ffffff;
    margin-top: 10px;
}

.container {
    max-width: 25em;
    height: auto;
    margin: 10px;
    background-color: #1F2937;
    color: white;
    border: 20px solid #1c1c1c;
    border-radius: 1em;
}

.hero__title {
    margin: .5em;
    font-size: var(--fs-600);
    font-weight: 900;
}

.hero--green {
    color: #10B981;
}

.hero__text {
    margin: 1em;
    font-size: var(--fs-400);
}

.generate__btn {
    width: 10em;
    height: 2.5em;
    margin-left: 1em;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: var(--fs-300);
}

.passwords {
    text-align: center;
    /* display: flex; */
    /* margin: 1em; */
    /* justify-content: space-around; */
    font-size: var(--fs-200);
}

.special {
    display: flex;
        /* justify-content: space-around; */
        align-items: center;

}

.password1,
.password2 {
    width: 10em;
    height: 2.5em;
    margin: 1em 1em;
    margin-left: 2em;
    padding: .5em;
    background-color: #273549;
}

.copyBtn1,
.copyBtn2 {
    margin: 1em 2em;
    margin-left: 0;
    background-color: #1F2937;
    color: white;
    border:none;
}

#includeChrs {
    margin-left: .75em;
}
#includeChrs p {
    margin-left: .4em;
}
#lengths {
    /* text-align: center; */
    margin: .25em auto;
    margin-left: .75em;
    /* font-size: 0.5em; */
}

    @media (min-width: 400px) {
        main {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .passwords {
            display: flex;
            /* margin: 1em; */
            /* justify-content: space-around; */
        }

        .password1 {
            margin: 1em 0;
            margin-left: .5em;
            ;
        }

        .password2 {
            margin: 1em 0;
        }
    }